extends layout.pug

block content
    form(action="/submit", method="POST")
        .form-group
            label.col-form-label Your message
            textarea.form-control(name="message", cols="30", rows="3", placeholder="My dear Frodo, you asked me once if I had told you everything there was to know about my adventures. And while I can honestly say I have told you the truth, I may not have told you all of it. I am old now, Frodo. I'm not the same hobbit as I once was. I think it is time for you to know what really happened.")
            .form-group
                label.col-form-label Your name
                input.form-control(name="author", type="text", placeholder="Bilbo Baggins")
            button.btn.btn-primary(role="submit") Submit
    hr
    .row
        each entry in submissions
            .col-sm-6.mt-3
                .card
                    .card-body
                        blockquote.blockquote.mb-0
                            p= entry.message
                            footer.blockquote-footer #{entry.author} on #{entry.date}