extends layout.pug

block content
    h2 Terms Of Service
    p
        h4 1. Terms
        p By accessing the website at guestbook.apps.espe.tech, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
        h4 2. Use License
        p Permission is granted to temporarily download one copy of the materials (information or software) on Guestbook's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
            ul
                li modify or copy the materials;
                li use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
                li attempt to decompile or reverse engineer any software contained on Guestbook's website;
                li remove any copyright or other proprietary notations from the materials; or
                li transfer the materials to another person or "mirror" the materials on any other server.
            | This license shall automatically terminate if you violate any of these restrictions and may be terminated by Guestbook at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
        h4 3. Disclaimer
        p The materials on Guestbook's website are provided on an 'as is' basis. Guestbook makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
            | Further, Guestbook does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
        h4 4. Limitations
        p In no event shall Guestbook or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Guestbook's website, even if Guestbook or a Guestbook authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
        h4 5. Accuracy of materials
        p The materials appearing on Guestbook website could include technical, typographical, or photographic errors. Guestbook does not warrant that any of the materials on its website are accurate, complete or current. Guestbook may make changes to the materials contained on its website at any time without notice. However Guestbook does not make any commitment to update the materials.
        h4 6. Links
        p Guestbook has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Guestbook of the site. Use of any such linked website is at the user's own risk.
        h4 7. Modifications
        p Guestbook may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
        h4 8. Governing Law
        p These terms and conditions are governed by and construed in accordance with the laws of Germany and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
    h2 Privacy policy
    p
        | We do not store any information you do not explicitly submit to use using the site publishing form.
        | We are not reponsible for any content published by the users of this site.
        | We are not responsible for the republishing of the content found on this site on other Web sites or media without our permission. This privacy policy is subject to change without notice.